node_modules/
yarn.lock
*.DS_Store
*.ipa
*.xcuserdata*
.DS_Store
DoomClassic/base/doom.wad
DoomClassic/base/base.iPack
DoomClassic/code/iphone/Default~ipad.png
DoomClassic/code/iphone/DOOM_114.png
DoomClassic/code/iphone/DOOM_120.png
DoomClassic/code/iphone/DOOM_144.png
DoomClassic/code/iphone/DOOM_152.png
DoomClassic/code/iphone/DOOM_57.png
DoomClassic/code/iphone/DOOM_72.png
DoomClassic/code/iphone/DOOM_76.png
DoomClassic/code/iphone/Default.png
DoomClassic/code/iphone/Default-568h@2x.png
DoomClassic/code/iphone/Default-Landscape~ipad.png
DoomClassic/code/iphone/Default-Portrait~ipad.png
DoomClassic/code/iphone/Default@2x.png
